@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
.header{ 
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    padding: 20px;
    background-color: #fff;
    z-index: 10;
}
.header .logo-bar{
    display: flex;
    align-items: center;
}
.header .logo-bar .nav-bar{
    width: 24px;
}
.header .logo-bar .logo{
    display: inline-block;
    width: 120px;
    margin: 0 20px;
    cursor: pointer;
}
.header .container-nav{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header .container-nav:hover{
    background: #f2f2f2;
}

.header .center{
    max-width: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .center .container-search{
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    align-items: stretch;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
}
.header .center .container-search .icono{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.header .center .container-search .icono img{
    width: 22px;
    height: 22px;
}
.header .center .container-search input{
    display: inline-block;
    width: 100%;
    border: none;
    padding: 10px;
    margin-left: 10px;
    outline: none;
}


.header .center .container-search .button-search{
    width: 70px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
}
.header .center .container-search .button-search:hover{
    background:#f2f2f2;
}
.header .center .container-search .button-search img{
    width: 24px;
}
.header .center .container-micro{
    max-width: 40px;
    width: 100% !important;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    cursor: pointer;
}
.header .center .container-micro:hover{
    background:#f2f2f2;
}

.header .end{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .end .item-end{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}
.header .end .item-end:hover{
    background: #f2f2f2;
}
.header .end .item-end img{
    width: 24px;
    display: inline-block;
    margin: 0 15px;
}
.header .end img:hover{
    background: #f2f2f2;
}
.header .end .logo-canal{
    width: 32px;
    cursor: pointer;
}
main{
    position: relative;
    top: 100px;
    padding-right: 30px;
}
.show-video {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 15px;
    padding-left: 140px;
}
.container-video {
    width: 65%;
    height: 100%;
}
iframe {
    width: 100%;
    height: 500px;
}
.sidebar-videos {
    width: 30%;
    margin-left: 25px;
    display: block;
}
.video-item { 
    display: flex;
    margin-bottom: 5px;
}
.preview-image {
    width: 60%;
}
.preview-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}
.video-info {
    padding-left: 10px;
}
.video-info .title {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, .90);
    text-align: left;
    padding-bottom: 6px;
}
.video-info .channel, .video-info .info-views {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, .75);
    text-align: left;
    position: relative;
}
.time-published {
    margin-left: 15px;
}
.time-published::before {
position: absolute;
content: " • ";
margin-left: -10px;
}
.video-title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, .90);
}
.video-details {
    margin-top: 40px;
    padding: 15px;
    height: 100px;
    background-color: #ebe7e7;
    border-radius: 15px;
}
.video-views {
    margin-bottom: 4px;
    font-weight: 500;
}
.video-description {
    font-size: 15px;
    font-weight: 400;
}
